$textcolor:#032028;
$tagcolor: #7B939A;
$iconcolor: #09B3E9;//#10A8FE;
$bluewhite:#EFF2FE;
// $buttonbg: 

body, html {
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(to right, #61D1F1 , #CBCCF3);
    height: 100%;
    width: 100%;
    color: $textcolor;
    margin: 0;
}

#title {
    color: $iconcolor;
    background-color: $bluewhite;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    color: #14B6E2;
}

.navbar {
    width: 100%;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $bluewhite;
    div > a {
        text-decoration: none;
    }
    .site-title {
        padding: 0.5rem;
    }
    .nav-actions {
        display: flex;
        flex-direction: row;
        div {
            padding: 0.5rem;
        }
    }
    .icon {
        font-size: x-large;
        color: $iconcolor;
    }
}

#posts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $textcolor;
    margin: 1rem;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: $textcolor;
        width: 30%;
    }
    .thumbnail {
        flex-direction: column;
        display: flex;
        background-color: $bluewhite;
        box-shadow: 0 0.25em 0.125em 0 rgba(0, 0, 0, 0.3);
        // max-width: 30%;
        padding: 1rem;
        border-radius: 0.1rem;
        color: $textcolor;
        margin: 1rem;
        .thumbnailTitle {
            color: $textcolor;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
        }
        .thumbnailTags {
            color: $tagcolor;
        }
        img {
            width: 100%;
        }
    }
    .thumbnail-wrapper {
        max-width: 30%;
        margin: 0;
        padding: 0;
        background-color: green;
    }
}

.header {
    font-size: x-large;
    text-align: center;
    width: 100%;
    padding: 1.25rem;
}

.action-button {
    align-self: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: $bluewhite;
    color: $iconcolor;
    border-radius: 0.5rem;
    border:solid;
    border-width: 0.02rem;
    border-color: $textcolor;
    max-width: 60%;
    .icon {
        margin-right: 0.3rem;
    }
    .action-button-text {
        text-transform: uppercase;
        padding: 0 0.5rem 0;
        display: inline-block;
    }
}

.action-button:hover, .icon:hover {
    color: $textcolor;
    .action-button-text {
        color: $textcolor;
    }
    .icon {
        color: $textcolor;
    }
}

#fallback, .empty-state, #loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    img {
        width: 80%;
        max-width: 460px;
    }
    .fallback-text {
        padding: 2rem;
        font-size: large;
    }
    a {
        text-decoration: none;
    }
}

.post, .new-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3rem;
    padding: 1rem;
    background-color: $bluewhite;
    .post-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .post-edit {
        display: flex;
        margin: 0 2rem 0;
        .editing {
            margin: 2rem;
            .edit-label {
                font-size: large;
            }
            .edit-actions {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .action-button {
                    align-self: center;
                }
            }
        }
    }
    .post-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .post-title {
            font-size: x-large;
            text-align: center;
            width: 100%;
            padding: 1.25rem;
        }
        .post-cover-img {
            width: 80%;
        }
        .post-tags {
            color: $tagcolor;
        }
        .post-content {
            text-align: left;
            align-self: left;
        }
    }
}

.post-edit, new-form {
    display: flex;
    justify-content: center;
    // align-items: center;
    .editing {
        align-items: center;
        margin: 2rem;
        .edit-label {
            font-size: large;
        }
        .edit-actions {
            display: flex;
            flex-direction: row;
            align-self: center;

        }
    }
}

.icon:hover, .action-button:hover {
    cursor: pointer;
}

.empty-state {
    .action-button {
        margin: 1rem;
    }
}

.icon {
    color: $iconcolor;
}

.center-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empty-state-button {
    max-width: 100%;
}

.modal {
    // centering from https://css-tricks.com/considerations-styling-modal/
    z-index: 2147483646 !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    background-color: white;
    border-radius: 0.1em;
    border-color: black;
    display: flex;
    flex-direction: column;
    padding: 4em;
    align-items: center;
    img {
        height: 50%;
        width: 50%;
        align-self: center;
    }
    .text {
        align-self: center;
        margin: 2rem;
    }
    .subheader {
        text-align: center;
        color: gray;
    }
}

.action-button-text {
    text-transform: uppercase;
    padding: 0 0.5rem 0;
    display: inline-block;
}

.edit-field {
    width: 80%;
    textarea {
        width: 100%;
    }
    margin: 0.75rem;
    align-self: center;
}

.error-message {
    color: #10A8FE;
    font-size: small;
}